body {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat','IBM Plex Mono', 'Xanh Mono', sans-serif, monospace;
    font-size: 18px;
}

h1 {
    font-family: 'Xanh Mono', 'IBM Plex Mono', monospace;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 50px;
}

p, ul, a {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
}

a {
    color: pink;
}

ul {
    list-style-type: upper-roman;
    text-transform: capitalize;
}

header {
    padding-top: 200px;
    padding-bottom: 150px;
}

header h1 {
    font-size: 50px;
    transition: 0.3s ease-in-out;
}

header h1:hover {
    color: deeppink
}

input {
    padding: 10px;
    padding-left: 15px;
    width: 500px;
    height: 60px;
    border-radius: 4px;
    border: 3px solid pink;
}

button {
    margin-left: 10px;
    width: 200px;
    height: 60px;
    border: none;
    color: pink;
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 20px;
    outline: none;
    border: 3px solid pink;
    z-index: 1;
    background-color: black;
}

button:hover{
    color: white;
    cursor: pointer;
    background-color: pink;
}

#formulario {
    display: flex;
    font-family: 'IBM Plex Mono', monospace;
    padding-bottom: 50px;
}

#pokeinfo {
    padding-top: 50px;
    padding-bottom: 150px;
}

#pokename, #info {
    text-transform: capitalize;
}

#pokeGraph {
    height: 300px; 
    width: 100%;
}

#iconos {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    align-content: start;
    width: 400px;
    height: 100px;
    margin: 50px 0px;
}

#title {
    margin-bottom: 50px;
}

footer {
    background-color: black;
    font-family: 'IBM Plex Mono', monospace;
    padding: 50px 0px;
    text-align: center;
    color: floralwhite;
}